/* Global */

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {

  body {
    overflow-x: clip;
  }

  section {
    overflow-x: clip;
  }

  header, section, footer {
    padding-left: var(--side-padding-for-sections);
    padding-right: var(--side-padding-for-sections);
  }

  section {
    padding-top: var(--very-big-gap);
    padding-bottom: var(--very-big-gap);
    background-color: #cfcea642;
  }

  .image {
    border-radius: var(--border-radius);
  }
}

/* TYPOGRAPHY */

* {

  h1, h2, h3, h5, h6, p, span, a, div, ul {
    color: var(--normal-text);
    line-height: 1.5;
  }

  h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    font-family: "font-1";
    font-weight: 400;
  }

  h2 {
    font-size: var(--h2-font-size);
    text-align: center;
    font-family: "font-1";
    font-weight: 400;
    padding-bottom: var(--big-gap);
  }

  h3 {
    font-size: var(--h3-font-size);
    font-family: "font-2";
    font-weight: 500;
    padding-bottom: var(--small-gap);
  }

  p, a, span, div, label, input {
    font-size: var(--body-font-size);
    font-family: "font-2";
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: var(--normal-text);
    cursor: pointer;
  }
}
/* Variables */

:root {
  --header-height: 10vh;
  --max-content-width: 1200px;
  --side-padding-for-sections: max(5vw, calc((100vw - var(--max-content-width)) / 2));
  --very-big-gap: 64px;
  --big-gap: 32px;
  --medium-gap: 16px;
  --small-gap: 8px;

  --h1-font-size: 53px;
  --h2-font-size: 46px;
  --h3-font-size: 24px;
  --h6-font-size: 18px;
  --body-font-size: 18px;

  --transition: 0.3s;
  --border: 0.5px solid black;
  --border-2: 2px solid var(--yellow-2);
  --border-radius: 4px;
  --border-white: 1px solid white;
  --border-black: 1px solid var(--normal-text);

  --green-1: #648149;
  --green-2: #4E6C31;
  --grey-1: #B1B5B4;
  --yellow-1: #BFA15A;
  --yellow-2: #BF925A;
  --beige-1: #CDAA7F;
  --normal-text: #262626;

  @media only screen and (max-width: 768px) {
      --h1-font-size: 30px;
      --h2-font-size: 26px;
      --h3-font-size: 24px;
      --h5-font-size: 20px;
  }
}

@font-face {
  font-family: 'font-1';
  src: 
      url('./fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "font-2";
  src: url("./fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

/* The Rest */



.section {

  &.hero {
    /* height: calc(100vh - var(--header-height)); */
    height: 100vh;

    background-image: url("./images/image-1.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);

    h1 {
      font-size: 64px;
      font-weight: 500;
    }

    p {
      font-size: 24px;
    }
  }

  &.hello {

    .contentContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--big-gap);

      .imageContainer {

        .image {
          width: 100%;
        }

      }

    }

  }

  &.howToGetThere {

    .sectionContentContainer {
      display: flex;
      flex-direction: column;
      gap: var(--big-gap);
    }

    .contentContainer {
      /* max-width: 80%; */
    }
    .contentContainer:nth-of-type(2n) {
      /* align-self: end; */
      /* text-align: end; */
    }
  }

  &.accommodation {
    height: 100vh;

    background-image: url("./images/hotel.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);

    h2, p {
      color: white;
    }

    /* For dimming the background image */

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.339); /* Adjust this for different opacity or color */
      z-index: 1;
    }

    > * {
      position: relative;
      z-index: 2;
      color: white; /* Adjust text color for visibility */
    }

  }

  &.schedule {

    .sectionContentContainer {
      display: flex;
      flex-direction: column;
      gap: var(--big-gap);
    }

  }

  &.activities {
    height: 100vh;

    background-image: url("./images/fishing.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);

    h2, ul {
      color: white;
    }

    /* For dimming the background image */

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.339); /* Adjust this for different opacity or color */
      z-index: 1;
    }

    > * {
      position: relative;
      z-index: 2;
      color: white; /* Adjust text color for visibility */
    }

  }

  &.weddingDetails {
    .contentContainer {
      display: flex;
      flex-direction: column;
      gap: var(--big-gap);
    }
  }

}